body {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 21px;
}

h1.dwelling-title {
  line-height: 26px;
}

h2.features-title {
  line-height: 26px;
}

h3.interested-title {
  line-height: 24px;
}

p.interested-text {
  line-height: 24px;
}

span.match-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
