html,
body {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
}

h2 {
  font-weight: bold;
  font-size: 21px;
}

header,
main,
footer {
  margin: 0 auto;
  width: 1200px;
}

header,
footer {
  text-align: center;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

.dwelling-title,
.features-title,
.match-title {
  line-height: 26px;
}

.interested-title,
.interested-text {
  line-height: 24px;
}

.match-title {
  font-weight: bold;
  font-size: 21px;
}

.features-blue{
  color: #ffffff;
  background-color: #81b3d2;
}

.filter {
  color: #ffffff;
}

.page-header {
  outline: 1px solid red;
}

.main-navigation {
  display: block;
  list-style: none;
  padding: 0;
  outline: 3px dashed yellow;
}

.main-navigation li {
  display: inline-block;
  width: 12%;
  padding: 15px 4%;
  line-height: 26px;
  vertical-align: top;
  background-color: rgba(255, 0, 0, 0.5);
  outline: 1px solid blue;
}

.header-logo a{
  position: relative;
  /*top: 13px;*/
  /*left: 51px;*/
}

/* !!!index.html!!! */

.top-image-container {
  outline: 1px solid violet;
}

.top-image {
  padding-top: 76px;
  padding-bottom: 80px;
  outline: 1px solid blue;
}

.top-background-image {
  height: 508px;
  background: url("img/mountains-filter.jpg") no-repeat 0 0;
}

.features-promo {
  outline: 1px solid green;
}

.one-third {
  display: inline-block;
  width: 400px;
}

.text {
  width: 360px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
  outline: 1px solid red;
}

.two-third-image {
  display: inline-block;
  width: 800px;
  vertical-align: top;
}

/* !!!catalog.html!!! */

.one-fifth {
  float: left;
  width: 20%;
}

.two-fifth {
  float: right;
  width: 40%;
}

.filter {
  background: url("img/mountains-filter.jpg") no-repeat;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.sorting-filters {
  padding: 0;
  margin:0;
}

.sorting-filters li {
  list-style: none;
}

.sorting-btns {
  float: right;
}

.hotel {
  width: 111px;
}

.reserve {
  width: 142px;
}

.ratio {
  float: right;
}
