body {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
}

h2 {
  font-weight: bold;
  font-size: 21px;
}

.dwelling-title {
  line-height: 26px;
}

.features-title {
  line-height: 26px;
}

.interested-title {
  line-height: 24px;
}

.interested-text {
  line-height: 24px;
}

.match-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.features-blue{
  color: #ffffff;
}

.filter {
  color: #ffffff;
}
